<br><br>
<ngb-tabset>
  <ngb-tab title="Radio Buttons">
    <ng-template ngbTabContent>
      <div [(ngModel)]="model" ngbRadioGroup name="radioBasic">
        <label class="btn btn-primary">
          <input type="radio" [value]="1"> Left (pre-checked)
        </label>
        <label class="btn btn-primary">
          <input type="radio" value="middle"> Middle
        </label>
        <label class="btn btn-primary">
          <input type="radio" [value]="false"> Right
        </label>
      </div>
      <hr>
      <pre>{{model}}</pre>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Forms">
    <ng-template ngbTabContent>
      <form novalidate>
        <input type="text" name="name" placeholder="name" ngModel required>
        <input type="text" name="street" placeholder="street" ngModel minlength="3">
        <input type="text" name="city" placeholder="city" ngModel maxlength="10">
        <input type="text" name="zip" placeholder="zip" ngModel pattern="[A-Za-z]{5}">
      </form>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Tooltips">
    <ng-template ngbTabContent>
      <p>
        Tooltips can contain any arbitrary HTML, Angular bindings and even directives!
        Simply enclose desired content in a <code>&lt;ng-template&gt;</code> element.
      </p>

      <ng-template #tipContent>Hello, <b>{{name}}</b>!</ng-template>
      <button type="button" class="btn btn-secondary" [ngbTooltip]="tipContent">
        I've got markup and bindings in my tooltip!
      </button>

    </ng-template>
  </ngb-tab>
  <ngb-tab title="Popovers">
    <ng-template ngbTabContent>
      <p>
        Popovers can contain any arbitrary HTML, Angular bindings and even directives!
        Simply enclose desired content in a <code>&lt;ng-template&gt;</code> element.
      </p>

      <ng-template #popContent>Hello, <b>{{name}}</b>!</ng-template>
      <button type="button" class="btn btn-secondary" [ngbPopover]="popContent" popoverTitle="Fancy content">
        I've got markup and bindings in my popover!
      </button>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Typeaheads">
    <ng-template ngbTabContent>
      <p>A typeahead example that uses custom template for results display and uses object as a model</p>

      <ng-template #rt let-r="result" let-t="term">
        <img [src]="'https://upload.wikimedia.org/wikipedia/commons/thumb/' + r['flag']" width="16">
        {{ r.name}}
      </ng-template>

      <label for="typeahead-template">Search for a state:</label>
      <input id="typeahead-template" type="text" class="form-control" [(ngModel)]="model1" [ngbTypeahead]="search" [resultTemplate]="rt"
        [inputFormatter]="formatter" />
      <hr>
      <pre>Model: {{ model1 | json }}</pre>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Carousels">
    <ng-template ngbTabContent>
      <ngb-carousel>
      <ng-template ngbSlide>
        <img src="https://lorempixel.com/900/500?r=1" alt="Random first slide">
        <div class="carousel-caption">
          <h3>First slide label</h3>
          <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <img src="https://lorempixel.com/900/500?r=2" alt="Random second slide">
        <div class="carousel-caption">
          <h3>Second slide label</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <img src="https://lorempixel.com/900/500?r=3" alt="Random third slide">
        <div class="carousel-caption">
          <h3>Third slide label</h3>
          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        </div>
      </ng-template>
    </ngb-carousel>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Accordions">
    <ng-template ngbTabContent>
      <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
        <ngb-panel title="Simple">
          <ng-template ngbPanelContent>
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
            aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
            sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
            craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
            occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
            labore sustainable VHS.
          </ng-template>
        </ngb-panel>
        <ngb-panel>
          <ng-template ngbPanelTitle>
            <span>&#9733; <b>Fancy</b> title &#9733;</span>
          </ng-template>
          <ng-template ngbPanelContent>
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
            aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
            sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
            craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
            occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
            labore sustainable VHS.
          </ng-template>
        </ngb-panel>
        <ngb-panel title="Disabled" [disabled]="true">
          <ng-template ngbPanelContent>
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
            aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
            sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
            craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
            occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
            labore sustainable VHS.
          </ng-template>
        </ngb-panel>
      </ngb-accordion>

      <hr>
      STATIC ONES
      <hr>

      <ngb-accordion [closeOthers]="true" activeIds="static-1">
  <ngb-panel id="static-1" title="Simple">
    <ng-template ngbPanelContent>
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
      aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
      sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
      craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
      occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
      labore sustainable VHS.
    </ng-template>
  </ngb-panel>
  <ngb-panel id="static-2">
    <ng-template ngbPanelTitle>
      <span>&#9733; <b>Fancy</b> title &#9733;</span>
    </ng-template>
    <ng-template ngbPanelContent>
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
      aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
      sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
      craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
      occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
      labore sustainable VHS.
    </ng-template>
  </ngb-panel>
  <ngb-panel id="static-3" title="Disabled" [disabled]="true">
    <ng-template ngbPanelContent>
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
      aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
      sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
      craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
      occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
      labore sustainable VHS.
    </ng-template>
  </ngb-panel>
</ngb-accordion>

    </ng-template>
  </ngb-tab>
  <ngb-tab>
    <ng-template ngbTabTitle><b>Time picker</b> title</ng-template>
    <ng-template ngbTabContent>

      <ngb-timepicker [(ngModel)]="time" [spinners]="spinners"></ngb-timepicker>

      <button class="m-t-1 btn btn-sm btn-outline-{{spinners ? 'success' : 'danger'}}" (click)="toggleSpinners()">
          Spinners - {{spinners ? "ON" : "OFF"}}
      </button>

    </ng-template>
  </ngb-tab>
  <ngb-tab title="Disabled" [disabled]="true">
    <ng-template ngbTabContent>
      <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth
      master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh
      dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum
      iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
    </ng-template>
  </ngb-tab>

</ngb-tabset>
